{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>User Signup</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Sign Up</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
                    {% if msg %}
                        <b style="color: blue;">{{msg}}</b>
                    {% endif %}
					<form class="row contact_form" action="{% url 'signup' %}" method="post" enctype="multipart/form-data" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
						<div class="col-md-6">
                            <select class="form-control" id="email" name="user_type">
                                <option value="">Select User Type</option>
                                <option value="buyer">Buyer</option>
                                <option value="seller">Seller</option>
                            </select>
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="fname" placeholder="Enter your First name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your First name'">
							</div>
                            <div class="form-group">
								<input type="text" class="form-control" id="name" name="lname" placeholder="Enter your First last name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Last name'">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
							</div>
                            <div class="form-group">
								<input type="email" class="form-control" id="mobile" name="mobile" placeholder="Enter Your Mobile Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Mobile Number'">
							</div>
                            <div class="form-group">
								<input type="file" id="profile_picture" name="profile_picture">
							</div>
						</div>
						<div class="col-md-6">
                            <div class="form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your password'">
							</div>
                            <div class="form-group">
								<input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="address" id="message" rows="1" placeholder="Enter Your Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Address'"></textarea>
							</div>
						</div>
						<div class="col-md-12 text-center">
							<button type="submit" value="signup" class="primary-btn">Signup</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->

	<!-- start footer Area -->

	<!--================Contact Success and Error message Area =================-->
	<div id="success" class="modal modal-message fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Thank you</h2>
					<p>Your message is successfully sent...</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modals error -->

	<div id="error" class="modal modal-message fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Sorry !</h2>
					<p> Something went wrong </p>
				</div>
			</div>
		</div>
	</div>
	<!--================End Contact Success and Error message Area =================-->
</body>

</html>
{% endblock %}