{% extends 'header.html' %}
{% load static %}
{% block content %}

<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Shop Category page</h1>
			</div>
		</div>
	</div>
</section>

<div class="container">
				{% if wishlists %}
                <h5>
					Filter : ||
						<a href="">All</a> || 
						<a href="">Sports</a> || 
						<a href="">Sneakers</a> || 
						<a href="">Running Shoes</a> ||
				</h5>
                <br><br>
	<!-- ✅ CENTER FIX -->
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-10 col-md-12">

			<section class="lattest-product-area pb-40 category-list">
				<div class="row justify-content-center">
                    {% for i in wishlists %}
					<!-- single product -->
					<div class="col-lg-4 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="{{i.product.product_image.url}}" alt="">
							<div class="product-details">
								<a href="{% url 'product-details' pk=i.product.pk%}"><h6>{{i.product.product_name}}</h6></a>
								<div class="price">
									<h6>Rs.{{i.product.product_price}}</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>

									<a href="" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>

									<a href="" class="social-info">
										<span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a>

									<a href="" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>

								</div>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>
				{% else %}
				<h1>No Products In Wishlist</h1>
        {% endif %}
			</section>

		</div>
	</div>

</div>

{% endblock %}